.random-planet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 10px;
}

.random-planet img {
    max-height: 250px;
}

.card-body .list-group-item {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 0.5rem 1.25rem;
}
